altair==4.1.0
altair_viewer==0.4.0
anytree==2.8.0
cydifflib==1.0.1
getch==1.0
infomap==2.6.0
llist==0.7.1
matplotlib==3.5.1
networkx==3.0
numpy==1.18.5
nx_altair==0.1.6
pandas==1.0.5
poepy==0.2.0
pygtrie==2.5.0
PyQt5==5.15.7
pyvis==0.1.9
simple_colors==0.1.5
sinopy==0.3.4
